@tailwind base;
@tailwind components;
@tailwind utilities;

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.overline-text,
.sub-title {
  @apply uppercase;
}

.h1 {
  line-height: 58px;
  letter-spacing: 2px;
  font-size: 58px;
}
.h2 {
  line-height: 44px;
  letter-spacing: 1.5px;
  font-size: 40px;
}
.h3 {
  line-height: 36px;
  letter-spacing: 1.15px;
  font-size: 32px;
}
.h4 {
  line-height: 38px;
  letter-spacing: 2px;
  font-size: 28px;
}
.h5 {
  line-height: 33px;
  letter-spacing: 1.7px;
  font-size: 24px;
}
.h6 {
  line-height: 24px;
  letter-spacing: 1.3px;
  font-size: 18px;
}
.overline-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
}

.sub-title {
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

.body-text {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}

.button {
  @apply uppercase px-6 py-3 font-semibold tracking-wide sm:tracking-normal 
   inline-block text-sm sm:px-4 sm:text-xs md:px-6 md:py-3 md:text-sm md:tracking-wide;
}

.button.loading {
  padding-left: 4rem;
  padding-right: 4rem;
}

.shadow-box {
  position: absolute;
  top: 12%;
  left: 50%;
  height: 20px;
  background: transparent;
  box-shadow: 3px 1px 40px 20px rgba(66, 68, 90, 1);
}

.custom-container {
  @apply max-w-6xl mx-auto;
}

.hoverable:hover .linkToChange,
.hoverable:focus .linkToChange {
  opacity: 100;
  @apply text-bg-accent;
}

.justify-self-start {
  justify-self: center;
}

.custom-right-margin {
  right: 30%;
}

.loader {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid white;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


