@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --big-circle-radius-sm: 37rem;
  --middle-circle-radius-sm: 20rem;
  --small-circle-radius-sm: 17rem;
  --big-circle-radius-md: 50rem;
  --middle-circle-radius-md: 28rem;
  --small-circle-radius-md: 24rem;
  --big-circle-radius-lg: 50rem;
  --middle-circle-radius-lg: 28rem;
  --small-circle-radius-lg: 24rem;
  --error-clr: red;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.overline-text,
.sub-title {
  @apply uppercase;
}

.h1 {
  line-height: 58px;
  letter-spacing: 2px;
  font-size: 58px;
}
.h2 {
  line-height: 44px;
  letter-spacing: 1.5px;
  font-size: 40px;
}
.h3 {
  line-height: 36px;
  letter-spacing: 1.15px;
  font-size: 32px;
}
.h4 {
  line-height: 38px;
  letter-spacing: 2px;
  font-size: 28px;
}
.h5 {
  line-height: 33px;
  letter-spacing: 1.7px;
  font-size: 24px;
}
.h6 {
  line-height: 24px;
  letter-spacing: 1.3px;
  font-size: 18px;
}
.overline-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
}

.sub-title {
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
}

.body-text {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}

.button {
  @apply uppercase px-6 py-3 inline-block;
  font-size: small;
  letter-spacing: 1px;
  font-weight: 500;
}

.button.loading {
  padding-left: 4rem;
  padding-right: 4rem;
}

.shadow-box {
  position: absolute;
  top: 12%;
  left: 50%;
  height: 20px;
  background: transparent;
  box-shadow: 3px 1px 40px 20px rgba(66, 68, 90, 1);
}

.custom-container {
  @apply max-w-5xl mx-auto;
}

.hoverable:hover .linkToChange,
.hoverable:focus .linkToChange {
  opacity: 100;
  @apply text-bg-accent;
}

.imageOutCircle {
  @apply border rounded-full  border-white flex justify-center items-center border-opacity-20;
}

.smallCircle {
  width: var(--small-circle-radius-sm);
  height: var(--small-circle-radius-sm);
}

.mediumCircle {
  width: var(--middle-circle-radius-sm);
  height: var(--middle-circle-radius-sm);
}

.bigCircle {
  width: var(--big-circle-radius-sm);
  height: var(--big-circle-radius-sm);
}

@media (min-width: 640px) {
  .bigCircle {
    width: var(--big-circle-radius-md);
    height: var(--big-circle-radius-md);
  }
  .smallCircle {
    width: var(--small-circle-radius-md);
    height: var(--small-circle-radius-md);
  }

  .mediumCircle {
    width: var(--middle-circle-radius-md);
    height: var(--middle-circle-radius-md);
  }
}

@media (min-width: 1024px) {
  .bigCircle {
    width: var(--big-circle-radius-lg);
    height: var(--big-circle-radius-lg);
  }
  .smallCircle {
    width: var(--small-circle-radius-lg);
    height: var(--small-circle-radius-lg);
  }
  .mediumCircle {
    width: var(--middle-circle-radius-lg);
    height: var(--middle-circle-radius-lg);
  }
}

.change-quantity-btn {
  @apply uppercase py-3 inline-block w-12 text-center bg-bg-light-secondary;
}

.change-quantity-cart-btn {
  @apply uppercase py-2 text-sm inline-block w-10 text-center bg-bg-light-secondary;
}

@media (min-width: 640px) and (max-width: 880px) {
  .change-quantity-btn {
    font-size: small;
    @apply py-2 w-10 text-xs;
  }
  .button {
    @apply py-2 text-xs px-2;
  }
}

.justify-self-start {
  justify-self: center;
}

.custom-right-margin {
  right: 30%;
}

.loader {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid white;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input[type='radio'] {
  @apply accent-bg-accent;
}

form h2 {
  @apply text-bg-accent h6 font-medium my-4;
}

form label {
  @apply font-medium block capitalize mb-1;
}

form input[type='text'],
form input[type='number'],
form input[type='email'] {
  @apply bg-bg-light-primary border rounded-md px-4 py-3 mb-4 w-full;
}

.label-error-wrapper {
  @apply flex justify-between;
}

.error {
  @apply text-[var(--error-clr)];
}
